In [3]:
import yfinance as yf
import pandas as pd

In [4]:
tickers = {
    "Indonesia (IDR)": "IDRUSD=X",
    "Malaysia (MYR)": "MYRUSD=X",
    "Thailand (THB)": "THBUSD=X",
    "Filipina (PHP)": "PHPUSD=X"
}

start_date = "2000-01-01"
end_date = "2024-12-31"

In [5]:
data = {}

for country, ticker in tickers.items():
    df = yf.download(
        ticker,
        start=start_date,
        end=end_date,
        progress=False
    )

    # CEK APA DATA ADA
    if df.empty:
        print(country, "DATA KOSONG")
        continue

    # PASTIKAN ambil kolom yang benar
    series = df["Close"]

    # DROP NaN
    series = series.dropna()

    print(country, type(series), series.shape)

    data[country] = series

C:\Users\ADVAN\AppData\Local\Temp\ipykernel_3288\1567132012.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(

Indonesia (IDR) <class 'pandas.core.frame.DataFrame'> (5926, 1)

C:\Users\ADVAN\AppData\Local\Temp\ipykernel_3288\1567132012.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(

Malaysia (MYR) <class 'pandas.core.frame.DataFrame'> (5492, 1)

C:\Users\ADVAN\AppData\Local\Temp\ipykernel_3288\1567132012.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(

Thailand (THB) <class 'pandas.core.frame.DataFrame'> (5471, 1)

C:\Users\ADVAN\AppData\Local\Temp\ipykernel_3288\1567132012.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(

Filipina (PHP) <class 'pandas.core.frame.DataFrame'> (5465, 1)

In [6]:
exchange_df = pd.concat(data, axis=1)
exchange_df.head()

           Indonesia (IDR) Malaysia (MYR) Thailand (THB) Filipina (PHP)
Ticker            IDRUSD=X       MYRUSD=X       THBUSD=X       PHPUSD=X
Date
2001-06-28        0.000087            NaN            NaN            NaN
2001-06-29        0.000088            NaN            NaN            NaN
2001-07-02        0.000088            NaN            NaN            NaN
2001-07-03        0.000088            NaN            NaN            NaN
2001-07-04        0.000088            NaN            NaN            NaN

In [10]:
exchange_df.to_csv("exchange-rate-project/data/exchange_rate.csv")